<hr>
<h2 id="i-leti-im">İletişim</h2>
<ul>
<li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:bilgi@egemsoft.net">bilgi@egemsoft.net</a></li>
<li><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:02164744488">0216 474 44 88</a></li>
<li><span class="glyphicon glyphicon-file"></span> <a href="tel:02164744490">0216 474 44 90</a></li>
<li><span class="glyphicon glyphicon-home"></span> <a href="https://www.google.com/maps/place/Kısıklı+Cd+No:3">EGEM Bilgi İletişim Ticaret A.Ş.
Altunizade Mah. Kısıklı Cad. N:3 D:5 Tekin Ak İş Merkezi<br>34662 Üsküdar İSTANBUL</a></li>
</ul>
