<hr>
<h2 id="-r-nler-ve-hizmetler">Ürünler ve Hizmetler</h2>
<h4 id="yaz-l-m-geli-tirme-ve-sistem-entegrasyon">Yazılım Geliştirme ve Sistem Entegrasyon</h4>
<p><a href="#/page/big-data-platform-and-applications">Büyük Veri Yönetim Platformu</a></p>
<ul>
<li><a href="#/page/mars-email-archive-system">MARS – E-posta Arşivleme, Analiz ve Raporlama Sistemi</a></li>
<li><a href="#/page/data-analysis-and-reporting">Müşteri Deneyimi Yönetimi</a></li>
<li><a href="#/page/log-analysis-tool">Log Analiz Aracı</a></li>
</ul>
<p><a href="#/page/corporate-application-development-and-system-integration">Kurumsal Uygulama Geliştirme ve Sistem Entegrasyonu</a></p>
<ul>
<li><a href="#/page/ipam-ip-management-system">IPAM – IP Adres Yönetim Sistemi</a></li>
<li><a href="#/page/quota-reporting-system">Kota Raporlama Sistemi</a></li>
<li><a href="#/page/modem-defects-detecting-platform">Modem Arıza Tespit Platformu</a></li>
</ul>
<h4 id="-yaz-l-m-test-hizmetleri-page-software-testing-services-"><a href="#/page/software-testing-services">Yazılım Test Hizmetleri</a></h4>
