<div class="container">
  <div class="row">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2 class="section-heading" ng-if="language.key=='en'" ng-init="pageHeader='MARS - E-Mail Archive System';">MARS - E-Mail Archive System</h2>
    <h2 class="section-heading" ng-if="language.key=='tr'" ng-init="pageHeader='MARS - E-Posta Arşivleme Sistemi';">MARS - E-Posta Arşivleme Sistemi</h2>
    <div class="lead sub" ng-if="language.key=='en'">
      {{pageHeader}}
      <p>
        Egemsoft was found in 2011 to provide consultancy service especially for projects in communication industry. Egemsoft was restructured in 2014 to provide software development and software testing services. Egemsoft has 16 software engineers and 26 test engineers today.
      </p>
    </div>
    <div class="lead sub" ng-if="language.key=='tr'">
      <p>
        Günümüzde en yaygın iletişim aracı olarak kullanılan e-posta uygulaması, kullanım yoğunluğu ve erişim ihtiyacının sürekli artması gibi faktörlerin sonucu olarak, alınan ve gönderilen e-postaların saklanması ve arşivlenmesi gibi gereksinimleri de beraberinde getirmektedir. Bu ihtiyaç genellikle kurum çalışanlarının kendi inisiyatifleri ile yine kendi PC’lerinde yarattıkları arşivler yolu ile giderilmeye çalışılmaktadır. Ancak, kişisel ortamlarda saklanan bu bilgiler, bilgiyi arşivleyen kişisel ortamlarda saklanan bilgiye ihtiyaç duyması halinde, genellikle bu bilgilere ulaşım imkanı olmamaktadır.kişinin kullanımını ile sınırlı olmaktadır. İlgili kişilerin kurumdan ayrılması ve/veya kurumun herhangi bir neden ile bu 
      </p>
      <p>
        Günümüzde, özellikle Finans, Telekom ve Enerji alanlarında, sektörel Denetleme ve Düzenleme Kurumları da, sektör firmalarının yürüttükleri faaliyetlerde gerekli şeffaflığın temini adına, firma ve paydaşları ile yapılan her türlü elektronik haberleşme bilgilerinin de anında ulaşılabilir bir şekilde saklanmasını talep etmektedirler. Bu ihtiyaca cevap verebilmek adına çeşitli çözümler piyasada oluşmaktadır. Ancak önerilen Yurtdışı menşeli çözümler genellikle, kullanılan teknolojilerin gereği, yüksek maliyetli donanım altyapısına ihtiyaç duymaktadır.
      </p>
      <p>
        Bu tespitlerle başlatılan çalışmalar sonunda, Hadoop temelli dosya sistemleri ve veri saklama teknolojileri kullanılarak MARS - E-Posta Arşivleme Sistemi geliştirilmiştir.
      </p>
    </div>
  </div>
</div>