<!doctype html>
<html class="no-js" ng-app="egem-web">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Egemsoft</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css">
</head>
<body ng-controller="MainCtrl">
  <!--
  [if lt IE 8]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <nav class="navbar navbar-egem" data-spy="affix" data-offset-top="20" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/static/img/logo.png"/></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{'active':!activeSection}"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
          <li ng-class="{'active':activeSection=='about'}"><a href="#/#about">{{locale('about')}}</a></li>
          <li ng-class="{'active':activeSection=='services'}"><a href="#/#services">{{locale('services')}}</a></li>
          <li ng-class="{'active':activeSection=='contact'}"><a href="#/#contact">{{locale('contact')}}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> {{locale('language')}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li ng-repeat="lang in languages" ng-class="{'active':language.key==lang.key}">
                <a ng-click="setLanguage(lang)"><span class="badge">{{lang.key}}</span> {{lang.label}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="content">
    <section ng-repeat="section in loadedSections"
           id="{{section}}"
           ng-class="{'section-a':$odd, 'section-b':$even}"
           ng-include="config.contentSrc + section + '.html'"
           scroll-section-load
           sections="sections"
           loaded-sections="loadedSections"
           ng-animate="{enter:'section-animate-enter'}">
    </section>
  </div>
  <footer ng-include="config.contentSrc + 'footer.html'"></footer>

  <script src="/static/components/jquery/dist/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script src="/static/components/angular/angular.min.js"></script>
  <script src="/static/components/angular-route/angular-route.min.js"></script>
  <script src="/static/components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="/static/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/static/components/angular-scroll-section-loader/scroll-section-loader.js"></script>

  <script src="/app/language.js"></script>
  <script src="/app/config.js"></script>
  <script src="/app/controller/mainCtrl.js"></script>
  <script src="/app/app.js"></script>

  <script src="/static/js/analytics.js"></script>
</body>
</html>
