<hr>
<h2 id="about-us">About Us</h2>
<p>Egemsoft, established in 2011, is providing software development and software test services with around 50 highly skilled software development and software test engineers.</p>
<p>Egemsoft aims to be a global software house, which provides high added value using mostly open source technologies, offers creative and innovative software products and solutions to its clients, creates value to all stakeholders, including its employees , customers , suppliers and shareholders.</p>
<p>Main focus of the company, in the software development area, is on Big Data Technologies, Systems Integration and Corporate Application Development.</p>
<p>In the software testing field, Egemsoft is in a continuous effort to increase company’s knowledge and skills in its expertise area.  Egemsoft has proven its software testing expertise, providing  large-scale corporate applications testing  to the leading ISP of Turkey.</p>
<p>R&amp;D is regarded as a crucial and important function within Egemsoft. A group of developers, having conducted successful projects supported by TEYDEB in previous years, resume their efforts at Egemsoft today. </p>
<p>Egemsoft aims to be an important player in the software business, focused in software development and testing areas, delivering high quality products and services mainly on big data management and analysis, targeting telecom, finance and energy sectors.</p>
