<hr>
<h2 id="contact-us">Contact Us</h2>
<ul>
<li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@egemsoft.net">info@egemsoft.net</a></li>
<li><span class="glyphicon glyphicon-phone"></span> <a href="tel:02164744488">0216 474 44 88</a></li>
<li><span class="glyphicon glyphicon-file"></span> <a href="tel:02164744490">0216 474 44 90</a></li>
<li><span class="glyphicon glyphicon-home"></span> <a href="https://www.google.com/maps/place/K%C4%B1s%C4%B1kl%C4%B1+Cd+No:3/@41.0237096,29.037486,17z/data=!4m2!3m1!1s0x14cab7fb25b13d0b:0x17dddcf46745dbcb">EGEM Bilgi İletişim Ticaret A.Ş.
Altunizade Mah. Kısıklı Cad. N:3 D:5 Tekin Ak İş Merkezi<br>34662 Üsküdar İSTANBUL</a></li>
</ul>
