<div class="content"
	   style="min-height: {{window.innerHeight-54-60}}px;"
	   ng-controller="HomeCtrl">
	
  <div id="home" class="animated fadeInDown" style="min-height: {{window.innerHeight-54}}px;">
	  <div id="home-top" style="height: {{(window.innerHeight)/2 + 54}}px">
 			<carousel interval="config.home.slideInterval" id="egem-slider" style="height: {{((window.innerHeight)/2 - 40)}}px">
 				<slide ng-repeat="slide in slides" active="slide.active">
 					<div class="container text-right">
	 					<div class="col-sm-6 item-description">
	 						<h1 class="title"><a href="{{slide.link}}">{{slide.title}}</a></h1>
	 						<p class="text">
	 							<a href="{{slide.link}}">
	 								{{slide.text|limitTo:300}}
	 								<span ng-if="slide.text.length > 300">...</span>
	 							</a>
	 						</p>
	 					</div>
	 					<div class="col-sm-6">
	 						<a href="{{slide.link}}">
	 							<img style="margin:auto; max-height: {{((window.innerHeight)/2 - 40)}}px" class="img-responsive" ng-src="{{slide.image}}">
	 						</a>
	 					</div>
 					</div>
 				</slide>
 			</carousel>
		</div>

		<div class="row animated fadeInLeft" id="home-blocks">
			<carousel interval="-1" style="height: {{(window.innerHeight)/2 - 54 - 40}}px">
				<slide ng-repeat="blocksSlide in blocksSlides">
				  <div class="col-md-4 block" ng-repeat="block in blocksSlide">
				    <div class="thumbnail" style="max-height: {{(window.innerHeight)/2 - 54 - 80}}px">
				    	<div class="caption col-xs-6">
				        <h3 class="title">
				        	<a href="{{block.link}}">
				        		{{block.title}}
				        	</a>
				        </h3>
					      <p>{{block.text|limitTo:150}} <a ng-if="block.text.length > 150" href="{{block.link}}">...</a></p>
				    	</div>
				    	<div class="col-xs-6">
				    		<a href="{{block.link}}">
					      	<img class="img-responsive pull-right"
					      			 ng-class="{'rounded':block.rounded!=false}"
					      			 ng-src="{{block.image}}">
					      </a>
					    </div>
					    <div class="clearfix"></div>
				    </div>
				  </div>
				</slide>
			</carousel>
		</div>
	</div>

	<div class="text-center more-section animated fadeInDown infinite hinge">
		<a href="#/#{{sections[0]}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
	</div>
  
  <section id="{{section}}"
  				 ng-repeat="section in loadedSections"
	         class="section animated fadeInLeft",
	         ng-class="{'section-a': $even, 'section-b': $odd}"
	         style="min-height: {{window.innerHeight-54-60}}px;"
	         scroll-section-load
	         sections="sections"
	         loaded-sections="loadedSections">
	         
  	<div class="container">
	    <markdown class="col-lg-5 col-sm-6"
			     			ng-class="{'col-lg-offset-1 col-sm-push-6': $odd}"
			     			showdown-extensions="icon"
			     			ng-include="config.contentSrc + language.key + '/' + section + '.md'">
	    </markdown>

     	<div class="col-lg-5 col-sm-6" 
     			 ng-class="{'col-sm-pull-6': $odd, 'col-lg-offset-2': $even}">
	      <img class="img-responsive rounded" ng-src="static/img/{{section}}.jpg" alt="">
	    </div>
    </div>
  </section>
</div>
