<div ng-controller="PageCtrl"
		 class="content page"
		 style="min-height: {{window.innerHeight-172-60}}px">
	<div class="container">
		<div class="col-sm-8"> 
			<section class="animated fadeInLeft section">
				<div class="">
					<markdown ng-include="config.contentSrc + language.key + '/page/' + page + '.md'">
					</markdown>
				</div>
			</section>
		</div>
		<div class="col-sm-4 affix-side-column">
			<img ng-src="/static/uploads/page-{{page}}.png" class="img-responsive">
		</div>
		<div class="clearfix"></div>
	</div>
</div>