/* General Styles */
a {
	color: #c0392b;
}
a:hover {
	color: #EF2300;
	text-decoration: none;
}

.navbar-egem {
	height: 64px;
	z-index: 10;
	background: #fff;
	opacity: 0.9;
}
.navbar-egem #egem-navbar {
	margin-top:5px;
}
.navbar-egem .nav li a {
	color: #c0392b;
	background: transparent !important;
	margin-left: 5px;
	margin-right: 5px;
}
.navbar-egem .nav li:hover a,
.navbar-egem .nav li.active a,
.navbar-egem .nav li.dropdown.open a.dropdown-toggle {
	border-bottom: 1px solid #c0392b;
	color: #EF2300;
}
.navbar-egem .nav li:hover .dropdown-menu li a {
	color: #c0392b;
	border: none;
}
.navbar-egem .nav li:hover .dropdown-menu li:hover a,
.navbar-egem .nav li:hover .dropdown-menu li.active a,
.navbar-egem .nav .dropdown-menu li.active a,
.navbar-egem .nav .dropdown-menu li:hover a {
	color: #EF2300 !important;
	border: none;
}
.navbar-egem .navbar-header .navbar-toggle .icon-bar {
	background-color: #c0392b;
}
.navbar-egem .navbar-header .navbar-toggle:hover .icon-bar {
	background-color: #EF2300;
}
.navbar-egem .navbar-collapse.collapsing, .navbar-egem .navbar-collapse.in {
	background-color: #fff;
}
.navbar-egem {
	position: fixed;
	width: 100%;
	top: 0;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.active .badge {
	background-color: #EF2300;
	color: #eee;
}
.lng-selection .glyphicon {
	font-size: 15px
}

#home-top {
	background: url('../img/home-bg.jpg');
	width: 100%;
	text-align: center;
	color: #fff;
	padding-top: 64px;
}
#home-blocks {
	width: 100%;
	margin: 0 auto;
}
#home-blocks .carousel-inner {
	max-width: 1400px;
	margin: 20px auto;
}
#home-blocks .carousel-inner .item {
	padding: 0 5% 0;
}
#home-blocks .carousel-indicators li.active {
	background-color: #c0392b;
}
#home-blocks .carousel-indicators li {
	border-color: #c0392b;
	z-index: 10000;
}
#home-blocks .carousel-control {
	color: #c0392b;
	-webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin-top: -70px;
  animation-delay:2s;
	-webkit-animation-delay:2s;
	z-index: 10000;
	width: 5%;
	background-image: none;
}
#home-blocks .carousel-control span { font-size: 40px; }
#home-blocks .right.carousel-control {
	-webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
#home-blocks .left.carousel-control {
	-webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
#home-blocks .block .thumbnail {
	overflow: hidden;
}
#home-blocks .block .caption {
	z-index: 100;
}
#home-blocks .block .caption p { overflow: hidden; }
#home-blocks .block .title {
	white-space: nowrap;
}
#home-blocks .block img {
	margin-top:20px;
}

#egem-slider .carousel-inner .item {
	padding: 20px 0 20px;
	color: #2c3e50;
}

#egem-slider .carousel-inner .item a {
	color: #2c3e50;
	text-decoration: none;
}

#egem-slider .carousel-inner .item .item-description {
	z-index: 100;
	text-overflow: hidden;
}

#egem-slider .carousel-control {
	background-image: none;
	z-index: 10000;
}

.section-a {
	background-color: #f8f8f8;
	padding: 40px 0;
	min-height: 650px;
}
.section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 40px 0;
	min-height: 650px;
}

.section img {
	margin-top: 90px;
}

.section p, .section ul, .section h4, .section h3 {
	color: #6f6f6f;
}

#contact-section {
	font-size: 16px;
	padding-left: 15px;
}
#contact-section ul {
	padding-left: 5px;
	margin-top: 15px;
}
#contact-section li {
	list-style-type: none;
	margin-top: 10px;
}
#contact-section a {
	color: #6f6f6f;
}

.rounded {
	border-radius: 4px;
}

footer {
  background-color: #c0392b !important;
  font-weight: normal;
  color: #bdc3c7;
  padding: 40px 0 40px;
  font-size: 14px;
}
footer a {
  color: #eee;
}
footer a:hover {
  color: white;
  text-decoration: none;
}
.footer-menu-divider {
	margin-right: 5px;
}

a {
	cursor: pointer;
}

.more-section a {
	color: #c0392b;
}

.nowrap {
	white-space: nowrap;
	z-index: 1000;
}

.content.page {
	margin-top:80px;
}

.content.page .section img {
	margin:0;
	padding: 20px 20px 20px;
	background: #eee;
	border-radius: 4px;
	border: 1px solid #CCC;
	display: block;
	max-width: 100%;
	height: auto;
}

.content.page .affix-side-column {
	position: fixed;
	right: 0;
	top: 200px;
}