<div class="container" ng-controller="AboutCtrl">
  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h2 class="section-heading">About</h2>
      <p class="lead">
        A special thanks to Death to the Stock Photo for providing the photographs that you see in this template. Visit their website to become a member.
      </p>
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
      <img class="img-responsive img-rounded" src="static/img/ipad.png" alt="">
    </div>
  </div>
</div>