<div class="container">
  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h2 class="section-heading">Services</h2>
      <p class="lead">
        Your big data partner
      </p>
      <div class="subsection">
        <hr class="section-heading-spacer">
        <h4>Software Development and Systems Integration</h4>
        <p>Big Data Management Platform</p>
        <ul class="lead">
          <li>MARS – Mail Archiving, Analysis and Reporting System</li>
          <li>Data Analysis and Reporting</li>
          <li>Log Analysis Tool</li>
        </ul>

        <p>Systems Integration and Corporate Application Development</p>
        <ul class="lead">
          <li>IPAM – IP Management System</li>
          <li>Quota Reporting System</li>
          <li>Modem Defects Detecting Platform</li>
        </ul>
        <h4>Software Test Services</h4>
      </div>
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
      <img class="img-responsive" src="static/img/phones.png" alt="">
    </div>
  </div>
</div>